.image{
    width:150px;
    height:150px;
    border-radius: 100px;
    margin: 0px auto;
    display: inline;
}
.key{
  width: 25%;
  display: flex;
  flex-direction: column;
 margin: 15px;
  text-align: center;
  padding: 10px 0px;
  
}
.item-heading{
    font-size: 20px;
    font-family: 'Space Grotesk', sans-serif;
   color: black;
    margin: 10px 0px 0px 0px;
    text-decoration: none;
    display: inline;
}
.item-heading:hover{
  color: #117022;
  transition: 0.5s;
}
.item-btn{
  width:100px;
  height: 30px;
  border-radius: 20px;
  border-style: none;
  background-color: #7f8276;
  color: antiquewhite;


}
.itm-lnk{
  text-decoration: none;
}
@media only screen and (max-width:1000px){
  .image{
    width: 110px;
    height: 110px;
  }
}
@media only screen and (max-width:400px){
  .key{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 90%;
  }
  
 
  .item-heading{
    margin-left: .5rem;
    width: 70%;
  }
  .itm-lnk{
    width: 30%;
    

  }
}